body {
  background-color: #60a3bc;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 500px;
  margin: auto;
  background-color: #c7ecee;
  overflow: hidden;
  display: flex;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  height: 650px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  max-width: 100%;
}

img {
  height: 650px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* Navigation */
nav {
  position: static;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #0a3d62;
}

.logo {
  color: darksalmon;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 21px;
  font-family: 'Fascinate', cursive;
  text-decoration: underline;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 65%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #dff9fb;
  text-decoration: none;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 18px;
}

a:hover {
  color: #60a3bc;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #0a3d62;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5 ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
  position: static;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Gallery */
.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background: #0a3d62;
  width: 400px;
  margin: 40px 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  padding: 20px;
  color: #fff;
  border-radius: 4px;
}

.heading {
  text-align: center;
  margin: 10px;
  font-size: 25px;
}

.img {
  height: 250px;
  width: 100%;
  border-radius: 5px;
  background-size: cover;
}

.details {
  text-align: left;
  margin: 20px;
}

.more a {
  padding: 10px;
  width: 100%;
  display: block;
  text-align: center;
  background-color: darksalmon;
  box-sizing: border-box;
  border-radius: 4px;
  color: #0a3d62;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  color: #60a3bc;
}

/* Footer */
.footer {
  background: darksalmon;
  color: #0a3d62;
  text-align: center;
}

/*# sourceMappingURL=stylePlans.css.map */