body {
    background-color: #c7ecee;
    font-family: 'Akaya Kanadaka', cursive;
    margin: 0;
  }
  .splash {
    background: url("/image/Games-main.jpg") 0/cover no-repeat;
    min-height: 500px;
    display:flex;
  }
  .splash-inner{
      margin: auto;
      max-width: 70%;
  }
  .page-title{
      margin: 0;
      font-size: 60px;
      word-spacing: 2px;
      font-weight: 700;
      color: whitesmoke;
  }

  .nav {
    text-align: center;
    margin: 0;
  }

  .nav-container{
    background-color: darksalmon;
    padding:10px;
  }
  
  a {
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
    display: inline;
    text-decoration: dashed;
    color: midnightblue;
  }
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  .mySlides {
    display: none;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  
  /* Fading animation */
  
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /* Gallery */
.gallery-container{
  margin:auto;
  padding:20px;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 8px;
  margin-top:15px
  
}
.content {
  background-color: white;
  padding: 15px;
  border-radius: 10px; 
  height: auto;
  position: relative; 
 }
 
 img {
   width: 100%;
   height: 100%;
   object-fit: fill;
 }
 
.gallery {
  margin:0;
  width: 440px;
  height: 330px;
}

.gallery:hover {
  border-color:#575fcf;
}

/* Footer */
.footer {
  background:darksalmon;
  color: #575fcf;
  text-align: center;
}